@using PianoMelody.Models.Enumetations
@model PianoMelody.Web.Models.ViewModels.GalleryViewModel

@{
    ViewBag.Title = Resources._Delete + " " + Resources._GalleryImage;
}

<h3>@Resources._AreYouSure</h3>
<hr />

<article class="panel panel-default">
    @if (Model.Type == MultimediaType.PhotoElement)
    {
        <div class="panel-body">
            @Html.Partial("_Photo", Model)
        </div>
    }

    @if (Model.Type == MultimediaType.VideoElement)
    {
        @Html.Partial("_Video", Model)
    }

    @if (User.IsInRole("Admin"))
    {
        <div class="panel-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="@Resources._Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    }
</article>
