@using PianoMelody.Models.Enumetations
@model IEnumerable<PianoMelody.Web.Models.ViewModels.GalleryViewModel>

@{
    ViewBag.Title = Resources.Gallery;
    ViewBag.Description = Resources.GalleryDescription;
    ViewBag.Keywords = Resources.GalleryKeywords;
    var videos = Model.Where(m => m.Type == MultimediaType.VideoElement).OrderBy(m => m.Id).ToArray();
    bool isOdd = videos.Length % 2 == 1;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

<div class="row">
    @for (int i = 0; i < videos.Length; i++)
    {
        if (i == 0 && isOdd)
        {
            <div class="col-lg-8 col-lg-offset-2">
                @Html.Partial("_Video", videos[i])
            </div>
        }
        else
        {
            <div class="col-lg-6 text-center">
                @Html.Partial("_Video", videos[i])
            </div>
        }
    }
</div>

<div class="my-gallery gallery" itemscope itemtype="http://schema.org/ImageGallery">
    @foreach (var photo in Model.Where(m => m.Type == MultimediaType.PhotoElement))
    {
        @Html.Partial("_Photo", photo)
    }
</div>
<div class="row">
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}
