@model PianoMelody.Web.Models.ViewModels.GalleryWithPager

@{
    ViewBag.Title = Resources.Gallery;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    @foreach (var item in Model.Gallery)
    {
        @Html.Partial("_Gallery", item)
    }
</div>
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}