@model PianoMelody.Web.Models.ViewModels.GalleryWithPager

@{
    ViewBag.Title = Resources.Gallery;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var item in Model.Gallery)
{
    <article class="panel panel-default col-lg-6">
        @Html.Partial("_Gallery", item)

        @if (User.IsInRole("Admin"))
        {
        <div class="panel-footer">
            @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id }, new { @class= "btn btn-danger" }) 
        </div>
        }
    </article>
}
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
</div>