@using PianoMelody.Web.Extensions

@model PianoMelody.Web.Models.ViewModels.ProductViewModel
@{
    string controller = this.ViewContext.RouteData.Values["controller"] as string;
    string action = this.ViewContext.RouteData.Values["action"] as string;
    string look = this.Session["look"] as string;
    string desc = Model.Description.ToFixedLenght(25);
}

<div class="panel-heading">
    @Model.Name
</div>
<div class="panel-body pointer">
    <dl class="dl-horizontal">
        @if (Model.Price != null)
        {
            <dt>@Resources.Price:</dt>
            if (Model.PromoPrice != null)
            {
                <dd><strike class="text-danger">@Model.Price</strike> @Model.PromoPrice BGN</dd>
            }
            else
            {
                <dd>@Model.Price BGN</dd>
            }
        }
        else
        {
            <dt>&nbsp</dt>
            <dd>&nbsp</dd>
        }

        <dt>@Resources._Manufacturer:</dt>
        <dd>@Model.ManufacturerName</dd>

        <dt>@Resources._Type:</dt>
        <dd>@Model.ArticleGroupName</dd>

        @if (Model.IsNew)
        {
            <dt>@Resources._Condition:</dt>
            <dd>@Resources._New</dd>
        }
        else
        {
            <dt>@Resources._Condition:</dt>
            <dd>@Resources._SecondHand</dd>
        }

        @if (Model.IsSold)
        {
            <dt>@Resources._Availability:</dt>
            <dd>@Resources._SoldOut</dd>
        }
        else
        {
            <dt>@Resources._Availability:</dt>
            <dd>@Resources._InStock</dd>
        }

        @if (look == "grid")
        {
            <dt>@Resources._Description:</dt>
            <dd>@desc</dd>
        }
        else
        {
            <dt>@Resources._Description:</dt>
            <dd>@Model.Description</dd>
        }
    </dl>

    <p class="btn-margin-vertical">
        @Html.ActionLink(Resources._AskAbout, "Contact", "Home", null, null, "contact-form", new { about = Model.Name }, new { @class = "btn btn-default" })
    </p>

    @if (Model.Multimedias != null)
    {
        <div class="my-gallery products" itemscope itemtype="http://schema.org/ImageGallery">

            @foreach (var multimedia in Model.Multimedias)
            {
                var thumbElements = multimedia.Url.Split('/');
                var thumb = string.Format("/{0}/thumbs/{1}", thumbElements[1], thumbElements[2]);

                <figure class="padding-left-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="@multimedia.Url" itemprop="contentUrl" data-size="@multimedia.DataSize">
                        <img src="@thumb" itemprop="thumbnail" alt="@Model.Name" />
                    </a>


                    <figcaption itemprop="caption description">@multimedia.Content</figcaption>

                </figure>

                if ((controller == "Home" && action == "Index") || look == "grid")
                {
                    break;
                }
            }
        </div>
    }
</div>