@model PianoMelody.Web.Models.ViewModels.ProductViewModel

<div class="panel-heading">
    @Model.Name
</div>
<div class="panel-body">
    <dl class="dl-horizontal">
        @if (Model.Price != null)
        {
            <dt>@Resources.Price:</dt>
            <dd>@Model.Price</dd>
        }
        else
        {
            <dt>@Resources.Price:</dt>
            <dd>@Resources._Negotiable</dd>
        }

        <dt>@Resources._Manufacturer:</dt>
        <dd>@Model.ManufacturerName</dd>

        <dt>@Resources._Type:</dt>
        <dd>@Model.ArticleGroupName</dd>

        @if (Model.IsNew)
        {
            <dt>@Resources._Condition:</dt>
            <dd>@Resources._New</dd>
        }
        else
        {
            <dt>@Resources._Condition:</dt>
            <dd>@Resources._SecondHand</dd>
        }

        <dt>@Resources._Description:</dt>
        <dd>@Model.Description</dd>
    </dl>

    @if (Model.Multimedias != null)
    {
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

            @foreach (var multimedia in Model.Multimedias)
            {
                var thumbElements = multimedia.Url.Split('/');
                var thumb = string.Format("/{0}/thumbs/{1}", thumbElements[1], thumbElements[2]);

                <figure class="col-lg-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="@multimedia.Url" itemprop="contentUrl" data-size="@multimedia.DataSize">
                        <img src="@thumb" itemprop="thumbnail" alt="@multimedia.Content" />
                    </a>
                    <figcaption itemprop="caption description">@multimedia.Content</figcaption>
                </figure>
            }
        </div>
    }
</div>