@model PianoMelody.Web.Models.ViewModels.ProductsWithPager

@{
    string group = Request.QueryString["group"] as string;
    string look = this.Session["look"] as string;

    switch (group)
    {
        case "1":
            ViewBag.Title = Resources.AcousticPianos;
            ViewBag.Description = Resources.AcousticPianosDescription;
            ViewBag.Keywords = Resources.AcousticPianosKeywords;
            break;
        case "2":
            ViewBag.Title = Resources.DigitalPianos;
            ViewBag.Description = Resources.DigitalPianosDescription;
            ViewBag.Keywords = Resources.DigitalPianosKeywords;
            break;
        case "3":
            ViewBag.Title = Resources.Royals;
            ViewBag.Description = Resources.RoyalsDescription;
            ViewBag.Keywords = Resources.RoyalsKeywords;
            break;
        case "4":
            ViewBag.Title = Resources.Accordions;
            ViewBag.Description = Resources.AccordionsDescription;
            ViewBag.Keywords = Resources.AccordionsKeywords;
            break;
        case "5":
            ViewBag.Title = Resources.Accessories;
            ViewBag.Description = Resources.AccessoriesDescription;
            ViewBag.Keywords = Resources.AccessoriesKeywords;
            break;
        default:
            ViewBag.Title = Resources.Products;
            ViewBag.Description = Resources.ProductsDescription;
            ViewBag.Keywords = Resources.ProductsKeywords;
            break;
    }
}

@Html.Partial("_ProductsFilter")

<div class="row">
    @foreach (var product in Model.Products)
    {
        if (look != "grid")
        {
            <article class="panel panel-default">
                @Html.Partial("_ProductInfo", product)
                @Html.Partial("_ProductAdmin", product)
            </article>
        }
        else
        {
            <div class="col-lg-4 col-md-4">
                <article class="panel panel-default pointer" onclick="$('@string.Format("#product-{0}", product.Id)').appendTo('body').modal('show')">
                    @Html.Partial("_ProductInfo", product)
                    @Html.Partial("_ProductAdmin", product)
                </article>
            </div>

            @Html.Partial("_ProductModal", product)
        }
    }
</div>

<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}