@model PianoMelody.Web.Models.ViewModels.InfoWithPager

@{
    ViewBag.Title = Resources.Info;
    ViewBag.Description = Resources.InfoDescription;
    ViewBag.Keywords = Resources.InfoKeywords;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var info in Model.Informations)
{
    <article class="panel panel-default">
        @Html.Partial("_Info", info)

        @if (User.IsInRole("Admin"))
        {
        <div class="panel-footer">
            @using (Html.BeginForm("Up", "Info", new { id = info.Id, returnUrl = Request.RawUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-success btn-inline">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    @info.Position
                </button>
            }

            @using (Html.BeginForm("Down", "Info", new { id = info.Id, returnUrl = Request.RawUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-warning btn-inline">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    @info.Position
                </button>
            }

            @Html.ActionLink(Resources._Edit, "Edit", new { id = info.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources._Delete, "Delete", new { id = info.Id, returnUrl = Request.RawUrl }, new { @class= "btn btn-danger" }) 
        </div>
        }
    </article>
}
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}