@model PianoMelody.Web.Models.ViewModels.ArticleGroupsWithPager

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var item in Model.ArticleGroups)
{
    <article class="panel panel-default">
        @if (User.IsInRole("Admin"))
        {
            <div class="panel-body">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </div>
        }
    </article>
}
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
</div>