@model PianoMelody.Web.Models.ViewModels.ServicesWithPager

@{
    ViewBag.Title = Resources.Services;
    ViewBag.Description = Resources.ServicesDescription;
    ViewBag.Keywords = Resources.ServicesKeywords;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var item in Model.Services)
{
    <article class="panel panel-default">
        @Html.Partial("_ServiceInfo", item)

        @if (User.IsInRole("Admin"))
        {
        <div class="panel-footer">
            @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id, returnUrl = Request.RawUrl }, new { @class= "btn btn-danger" }) 
        </div>
        }
    </article>
}
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}