@model PianoMelody.Web.Models.BindingModels.EmailBindingModel

@{
    ViewBag.Title = Resources.Contacts;
    ViewBag.Description = Resources.ContactsDescription;
    ViewBag.Keywords = Resources.ContactsKeywords;
}

<div class="row">
    <div class="col-lg-5 margin-right-20">

        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink(Resources._Edit, "Edit", new { html = "_EditContact", returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
            </p>
            <hr />
        }

        @Html.Raw(Resources._EditContact)

        <h3 id="contact-form" class="padding-top-50">@Resources._ContactForm</h3>
        @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Resources._Send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-lg-6">

        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink(Resources._Edit, "Edit", new { html = "_EditAddress", returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
            </p>
            <hr />
        }

        @Html.Raw(Resources._EditAddress)

        <iframe width="100%" height="570" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D0%A3%D0%BB.%22%D0%A1%D0%B2.%20%D0%98%D0%B2%D0%B0%D0%BD%20%D0%A0%D0%B8%D0%BB%D1%81%D0%BA%D0%B8%22%20%E2%84%96%2014%20%D0%93%D1%80.%20%D0%A1%D0%BE%D1%84%D0%B8%D1%8F%201606&key=AIzaSyCPZx4SKBUO8HE60L1IfT11peH1Y18_PMw" allowfullscreen></iframe>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
