@model PianoMelody.Web.Models.ViewModels.NewsWithPager

@{
    ViewBag.Title = Resources.News;
    ViewBag.Description = Resources.NewsDescription;
    ViewBag.Keywords = Resources.NewsKeywords;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var news in Model.News)
{
    <article class="panel panel-default block">
        @Html.Partial("_NewsInfo", news)

        @if (User.IsInRole("Admin"))
        {
            <div class="panel-footer">
                @Html.ActionLink(Resources._Edit, "Edit", new { id = news.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
                @Html.ActionLink(Resources._Delete, "Delete", new { id = news.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-danger" })
            </div>
        }
    </article>
}
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}