@{
    var routeValues = this.ViewContext.RouteData.Values;
    var controller = routeValues["controller"] as string;
    var action = routeValues["action"] as string;
    string id = string.Empty;
    if (routeValues.ContainsKey("id"))
    {
        id = routeValues["id"] as string;
    }

    string languageImage = "/Images/" + CultureHelper.GetCurrentNeutralCulture() + ".png";
}

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="@languageImage" /> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href='@Url.Action(@action, @controller, new { culture = "en", id = id })'>
                    <img src='@Url.Content("~/Images/en.png")' /> English
                </a>
            </li>
            <li>
                <a href='@Url.Action(@action, @controller, new { culture = "ru", id = id })'>
                    <img src='@Url.Content("~/Images/ru.png")' /> Русский
                </a>
            </li>
            <li>
                <a href='@Url.Action(@action, @controller, new { culture = "bg", id = id })'>
                    <img src='@Url.Content("~/Images/bg.png")' /> Български
                </a>
            </li>
        </ul>
    </li>
</ul>