@model IEnumerable<PianoMelody.Web.ViewModels.NewsViewModel>

@{
    ViewBag.Title = Resources.News;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create")
    </p>
}

@foreach (var item in Model)
{
    <article class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.Content)
        </div>

        @if (User.IsInRole("Admin"))
        {
        <div class="panel-footer">
            @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id })
        </div>
        }
    </article>
}