@model PianoMelody.Web.Models.ViewModels.NewsWithPager

@{
    ViewBag.Title = Resources.News;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var item in Model.News)
{
    <article class="panel panel-default">
        @Html.Partial("_NewsInfo", item)

        @if (User.IsInRole("Admin"))
        {
        <div class="panel-footer">
            @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id }, new { @class= "btn btn-danger" }) 
        </div>
        }
    </article>
}
<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}