@model IEnumerable<PianoMelody.Web.Models.ViewModels.ProductViewModel>

@{
    ViewBag.Title = Resources.Products;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@foreach (var item in Model)
{
    <article class="panel panel-default">
        @Html.Partial("_ProductInfo", item)

        @if (User.IsInRole("Admin"))
        {
        <div class="panel-footer">
            @using (Html.BeginForm("Up", "Product", new { id = item.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-success btn-inline">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </button>
            }

            @using (Html.BeginForm("Down", "Product", new { id = item.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-warning btn-inline">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </button>
            }

            @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </div>
        }
    </article>
}