@model PianoMelody.Web.Models.ViewModels.ProductsWithPager

@{
    ViewBag.Title = Resources.Products;
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._CreateNew, "Create", new { }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}
<div class="row">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div class="form-horizontal">
            @Html.Hidden("group", Request.QueryString["group"])

            <div class="col-md-4">
                @Html.DropDownList("manufacturer", (IEnumerable<SelectListItem>)ViewBag.Manufacturers, Resources._Manufacturer, new { @class = "form-control" })
            </div>

            <div class="col-md-4">
                @Html.DropDownList("condition", (IEnumerable<SelectListItem>)ViewBag.Condition, Resources._Condition, new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <input type="submit" value="@Resources._Filter" class="btn btn-primary form-control" />
            </div>

            <div class="col-md-2">
                @Html.ActionLink(Resources._Clear, "Index", new { }, new { @class = "btn btn-default form-control" })
            </div>
        </div>
    }
</div>
<hr />
@foreach (var item in Model.Products)
{
    <article class="panel panel-default">
        @Html.Partial("_ProductInfo", item)

        @if (User.IsInRole("Admin"))
                {
            <div class="panel-footer">
                @using (Html.BeginForm("Up", "Product", new { id = item.Id }, FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-success btn-inline">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        @item.Position
                    </button>
                }

                @using (Html.BeginForm("Down", "Product", new { id = item.Id }, FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-warning btn-inline">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        @item.Position
                    </button>
                }

                @Html.ActionLink(Resources._Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink(Resources._Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </div>
        }
    </article>
}

<div class="row">
    @Html.Partial("_Pager", Model.Pager)
    @Html.Partial("_PhotoSwipeRoot")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
}