@model PianoMelody.Web.Models.ViewModels.GalleryViewModel

@{
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var thumb = "/Images/no_image.jpg";
    var original = "/Images/no_image.jpg";
    var content = "";
    var dataSize = "1024x768";

    if (Model != null)
    {
        var thumbElements = Model.Url.Split('/');
        thumb = string.Format("/{0}/thumbs/{1}", thumbElements[1], thumbElements[2]);
        original = Model.Url;
        content = Model.Content;
        dataSize = Model.DataSize;
    }
}

<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="@original" itemprop="contentUrl" data-size="@dataSize">
        <img src="@thumb" itemprop="thumbnail" alt="@content" />
    </a>
    <figcaption itemprop="caption description">@content</figcaption>
    @if (User.IsInRole("Admin") && action == "Index")
    {
        <div class="btn-admin">
            @Html.ActionLink(Resources._Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources._Delete, "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
    }
</figure>