@model PianoMelody.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = Resources._Login;
    ViewBag.Keyword = "";
    ViewBag.Description = "";
}

<div class="row">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2 col-md-6">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <input type="submit" value="@Resources._Login" class="btn btn-info btn-block"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}