@{
    string CurrentUrl = Request.RawUrl.ToString();
    string EnUrl = "/en";
    string BgUrl = "";
    string RuUrl = "/ru";

    if (CurrentUrl.Length >= 3)
    {
        EnUrl = "/en" + CurrentUrl.Substring(3);
        BgUrl = "/bg" + CurrentUrl.Substring(3);
        RuUrl = "/ru" + CurrentUrl.Substring(3);
    }

    string languageImage = "/Images/" + CultureHelper.GetCurrentNeutralCulture() + ".png";
}

<ul class="nav navbar-nav">
    <li class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="@languageImage" alt="@CultureHelper.GetCurrentNeutralCulture()" />
            @switch (@CultureHelper.GetCurrentNeutralCulture())
            {
                case "bg":
                    <span>Български</span>
                    break;
                case "en":
                    <span>English</span>
                    break;
                case "ru":
                    <span>Русский</span>
                    break;
                default:
                    break;
            }
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>
                <a href='@BgUrl'>
                    <img src='@Url.Content("~/Images/bg.png")' /> Български
                </a>
            </li>
            <li>
                <a href='@EnUrl'>
                    <img src='@Url.Content("~/Images/en.png")' /> English
                </a>
            </li>
            <li>
                <a href='@RuUrl'>
                    <img src='@Url.Content("~/Images/ru.png")' /> Русский
                </a>
            </li>
        </ul>
    </li>
</ul>
