@model PianoMelody.Web.Models.BindingModels.EmailBindingModel

@{
    ViewBag.Title = Resources.Contacts;
    ViewBag.Keyword = "";
    ViewBag.Description = "";
}

<div class="row">
    <div class="col-lg-5 margin-right-20">
        <h3>Работно време</h3>
        <p><span class="bold">понеделник</span> - <span class="bold">петък</span>: 10:00 ч. - 18:00 ч.</p>
        <p><span class="bold">събота</span>: 10:00 ч. - 14:00 ч.</p>
        <p><span class="bold">неделя</span>: почивен ден.</p>
        <p>В случай, че желаете да ни посетите извън работното ни време или неделя, моля, не се колебайте да се свържете с нас, за да уговорим предварително час за посещение.</p>
        <p>Очакваме Ви!</p>

        <h3 class="padding-top-50">Контакти</h3>
            <p>E-mail: <span class="bold">office@piano.bg</span></p>
            <p>Мобилен телефон: <span class="bold">0888 222 410</span></p>
            <p>Телефон: <span class="bold">02 952 55 54</span></p>
            <p>Телефон/факс: <span class="bold">02 852 47 86</span></p>


        <h3 class="padding-top-50">Форма за контакт</h3>
        @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Resources._Send" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-lg-6">
        <h3>Адрес</h3>
        <p><span class="bold">Ул. "Св. Иван Рилски" № 14, гр. София 1606</span></p>
        <p>Магазинът се намира в непосредствена близост до Петте кьошета, между бул. "Скобелев" и бул. "Христо Ботев".</p>
        <p>За идващите с автомобил: ул. "Св.Ив.Рилски" е еднопосочна и е отворена от към бул. "Хр.Ботев". Паркирането е платено, зоната е ЗЕЛЕНА. Клиентите ни получават безплатен талон за паркиране в ЗЕЛЕНА ЗОНА от магазина ни.</p>
        <p>За идващите с обществен транспорт: спирка "Бул.Прага" с тролеи № 1, 2, 5 , 8, и 9, трамваи № 6 и 7, автобус № 260. Най-близката метро станция е НДК.</p>

         <iframe width="600" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D0%A3%D0%BB.%22%D0%A1%D0%B2.%20%D0%98%D0%B2%D0%B0%D0%BD%20%D0%A0%D0%B8%D0%BB%D1%81%D0%BA%D0%B8%22%20%E2%84%96%2014%20%D0%93%D1%80.%20%D0%A1%D0%BE%D1%84%D0%B8%D1%8F%201606&key=AIzaSyCPZx4SKBUO8HE60L1IfT11peH1Y18_PMw" allowfullscreen></iframe>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
