@model PianoMelody.Web.Models.BindingModels.ResourcesBindingModel

@{ 
    ViewBag.Title = Resources._Edit;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- TinyMCE Script Reference -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinyMCE.init({
            // General options
            mode: "textareas",
            height: "600",
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons',
            image_advtab: true
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Name)

        <div class="form-horizontal">

            <h3>@Resources._BgContent</h3>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.BgValue)
                </div>
            </div>

            <h3>@Resources._EnContent</h3>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.EnValue)
                </div>
            </div>

            <h3>@Resources._RuContent</h3>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.RuValue)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="@Resources._Edit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</body>
</html>

