@model PianoMelody.Web.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = Resources.Home;
    ViewBag.Keyword = "";
    ViewBag.Description = "";
}

@Styles.Render("~/Content/owl")

@* Carousel *@
<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="@Model.Carousel[0].Url" alt="@Model.Carousel[0].Content">
                    <div class="carousel-caption">
                        <p>@Model.Carousel[0].Content</p>
                    </div>
                </div>
                <div class="item">
                    <img src="@Model.Carousel[1].Url" alt="@Model.Carousel[1].Content">
                    <div class="carousel-caption">
                        <p>@Model.Carousel[1].Content</p>
                    </div>
                </div>
                <div class="item">
                    <img src="@Model.Carousel[2].Url" alt="@Model.Carousel[2].Content">
                    <div class="carousel-caption">
                        <p>@Model.Carousel[2].Content</p>
                    </div>
                </div>
                <div class="item">
                    <img src="@Model.Carousel[3].Url" alt="@Model.Carousel[3].Content">
                    <div class="carousel-caption">
                        <p>@Model.Carousel[3].Content</p>
                    </div>
                </div>
                <div class="item">
                    <img src="@Model.Carousel[4].Url" alt="@Model.Carousel[4].Content">
                    <div class="carousel-caption">
                        <p>@Model.Carousel[4].Content</p>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<br />

@* Up to 3 Promo products *@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <h3>Promotions</h3>
            </div>
            <div class="panel-body">
                @foreach (var product in Model.PromoProducts)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                @Html.Partial("~/Views/Products/_ProductInfo.cshtml", product)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* Last 2 news *@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3>Recent news</h3>
            </div>
            <div class="panel-body">
                @foreach (var news in Model.LastNews)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                @Html.Partial("~/Views/News/_NewsInfo.cshtml", news)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* Random reference *@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3>Reference</h3>
            </div>
            <div class="panel-body">
                @foreach (var reference in Model.RandomReferences)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                @Html.Partial("~/Views/References/_ReferenceInfo.cshtml", reference)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* Manufacturers *@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h3>Manufacturers</h3>
            </div>
            <div class="panel-body">
                <div id="manufacturers" class="owl-carousel">
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <div>
                            <a href="@manufacturer.UrlAddress" rel="alternate" target="_blank">
                                <img src="@manufacturer.Multimedia.Url" alt="@manufacturer.Name" class="manufacturer-logo" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PhotoSwipeRoot")

@section Scripts {
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/load-gallery")
    @Scripts.Render("~/bundles/owl-carousel")
    <script>
        $(document).ready(function () {
            $("#manufacturers").owlCarousel({

                // Most important owl features
                items: 6,
                itemsCustom: false,
                itemsDesktop: [1199, 5],
                itemsDesktopSmall: [980, 4],
                itemsTablet: [768, 3],
                itemsTabletSmall: false,
                itemsMobile: [479, 2],
                singleItem: false,
                itemsScaleUp: false,

                //Basic Speeds
                slideSpeed: 200,
                paginationSpeed: 800,
                rewindSpeed: 1000,

                //Autoplay
                autoPlay: true,
                stopOnHover: true,

                //Pagination
                pagination: false,
                paginationNumbers: false,
            });
        });
    </script>
}
