@model PianoMelody.Web.Models.ViewModels.InfoViewModel

@{
    var url = "/Images/no_image.jpg";
    var thumb = url;
    var dataSize = "522x400";

    if (Model != null && Model.Multimedia != null)
    {
        url = Model.Multimedia.Url;
        var thumbElements = url.Split('/');
        thumb = string.Format("/{0}/thumbs/{1}", thumbElements[1], thumbElements[2]);
        dataSize = Model.Multimedia.DataSize;
    }
}

<div class="panel-heading">
    @Html.DisplayFor(modelItem => Model.Title)
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-8">
            <p>
                @Html.DisplayFor(modelItem => Model.Content)
            </p>
        </div>
        <div class="col-lg-4">
            <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure class="col-lg-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="@url" itemprop="contentUrl" data-size="@dataSize">
                        <img src="@thumb" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
            </div>
        </div>
    </div>
</div>